PORT=3000
API_KEY=troque-esta-chave

POWERSHELL_EXE=powershell.exe
ONBOARDING_SCRIPT_PATH=C:\Users\hyago\Documents\SCRIPTS\exchange-user-lab\Create-LabMailboxUser.ps1
POWERSHELL_CONFIG_PATH=C:\Users\hyago\Documents\SCRIPTS\exchange-user-lab\config.local.ps1
SKIP_MAILBOX_CHECK=true
SQLITE_DB_PATH=C:\Users\hyago\Documents\SCRIPTS\exchange-user-lab\data\exchange-user-lab.sqlite

SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=notificacoes@seudominio.onmicrosoft.com
SMTP_PASS=sua-senha-ou-app-password
MAIL_FROM_NAME=Onboarding Microsoft 365
MAIL_FROM_ADDRESS=notificacoes@seudominio.onmicrosoft.com
